.top-banner {
	background-image: url('/src/assets/images/top-bg.svg');
	width: 100%;
	position: absolute;
	bottom: 0;
	background-repeat: no-repeat;
	background-size: cover;
}

.top-button {
	width: 20rem;
	height: 4rem;
	border-radius: 2rem;
}

.top-circle {
	border-radius: 100%;
	position: absolute;
	background: linear-gradient(322deg, #2bc0e4, #eaecc6);
	width: 6rem;
	height: 6rem;
	opacity: 0.8;
	animation: circle-float 2.5s infinite;
}

.top-circle:hover {
	animation-play-state: paused;
	animation: rotate 2s infinite;
}

.ant-menu-horizontal {
	border-bottom: none;
	justify-content: end;
}

.person-photo {
	background-image: url(/src/assets/images/zky1.jpg);
	background-size: cover;
}

@keyframes circle-float {
	0% {
		transform: translate(0px, 0px);
	}
	50% {
		transform: translate(0px, -10px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
