.top-banner {
	background-image: url('/src/assets/images/top-bg.svg');
	width: 100%;
	position: absolute;
	bottom: 0;
	background-repeat: no-repeat;
	background-size: cover;
}

.top-button {
	width: 20rem;
	height: 4rem;
	border-radius: 2rem;
	font-size: 1.6rem;

	/* 动画 */
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.top-button::before {
	content: '';
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	border-radius: 2rem;
	bottom: 0;
	background: #229488;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.top-button:hover:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.top-circle {
	border-radius: 100%;
	position: absolute;
	background: linear-gradient(322deg, #2bc0e4, #eaecc6);
	width: 6rem;
	height: 6rem;
	opacity: 0.8;
	animation: circle-float 2.5s infinite;
}

.top-circle:hover {
	animation-play-state: paused;
	animation: rotate 2s infinite;
}

.person-photo {
	/* background-image: url(/src/assets/images/zky1.jpg); */
	background-size: cover;
}

@keyframes circle-float {
	0% {
		transform: translate(0px, 0px);
	}
	50% {
		transform: translate(0px, -10px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes shake {
	/* 水平抖动，核心代码 */
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}
	20%,
	80% {
		transform: translate3d(+2px, 0, 0);
	}
	30%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}
	40%,
	60% {
		transform: translate3d(+4px, 0, 0);
	}
	50% {
		transform: translate3d(-4px, 0, 0);
	}
}

/* banner */

.home-banner {
	will-change: transform;
	background: radial-gradient(circle, rgba(34, 193, 195, 0.2761555305716037) 0%, #8ed1fc 100%);
}

.glass-container {
	/* width: 700px; */
	height: 600px;
	color: white;
	/* display: flex; */
	/* justify-content: center;
	align-items: center; */
	gap: 20px;
	border-radius: 20px;
	backdrop-filter: blur(20px);
	background-color: rgba(255, 255, 255, 0.6);
	box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
	border: 0px rgba(255, 255, 255, 0.4) solid;
	border-bottom: 0px rgba(40, 40, 40, 0.35) solid;
	border-right: 0px rgba(40, 40, 40, 0.35) solid;

	width: 85%;
	/* 越往下滚动rotateX越小 */
	/* transform: perspective(1200px) rotateX(10deg); */
	/* transform: rotateY(60deg) rotateX(15deg); */
}
